@model ProyectoDiabetC3.Models.ExpedientePaciente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExpedientePaciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombrePac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPatPac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPatPac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMatPac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMatPac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enfermedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enfermedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDeSangre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDeSangre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TratamientosActuales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TratamientosActuales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TratamientosAnteriores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TratamientosAnteriores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistroDoctor.NombreDoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistroDoctor.NombreDoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistroPaciente.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistroPaciente.NombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDExpediente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
